html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.header .left {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 1000;
}

.header .right {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
    align-items: center;
    gap: 24px;

}

.link {
    text-decoration: none;
    color: #f9faf8;
}

.container-one {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
}

.container-one .left {
  width: 500px;
  justify-content: center;

}

.top-button {
    display: flex;
    align-content: center;
}

.container-one .left h1 {
    font-size: 48px;
    font-weight: 1000px;
  }

.container-one .left p {
    font-size: 18px;
    font-weight: 1000px;
}

.container-one .right {
    display: flex;
    flex-wrap: wrap;

}
img {
    width: 100%;
}

.container-one button {
    display: flex;
    margin: auto;
    margin-bottom: 32px;
    margin-right: 40px;
    justify-items: baseline;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 25px;
}

.info-header {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 64px;
}

.container-two {
    height: 2000px;
}
.panes {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 64px;
}

.pane {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
}

.pane p {
    display: flex;
    flex-wrap: wrap;
}

.pane .img-ph {
    height: 150px;
    width: auto;
    border: #3882F6;
    border-style: inset;
    border-radius: 25px;
}

.container-three {
    background-color: #E5E7EB;
    font: light italic;
    display: flex;
    flex-direction: column;
}

.container-three .quote {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 32px;
    font-style: light italic;
    color:#1F2937;
}

.container-three .person {
    display: flex;
    justify-content: center;
    font-weight: 1000;
    margin-top: -25px;
    margin-left: 300px;
    border-radius: 25px;
}

.container-four {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.small-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 16px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    height: 100px
}

.small-box .left {
    text-align: center;
    width: 500px;
    color: #f9faf8;
}

.small-box .button {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 100px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    color: #f9faf8;
    justify-content: center;
    margin-top: auto;
}